*{
    margin: 0;
    padding: 0;
}
/* banner section */
.bennar-folwers{
    width: 1450px;
    height: 600px;
    
    margin: 0 auto;
    background-color: rgb(228, 221, 221);
    display: flex;
}
.bennar-folwers-title{
    width: 50%;
    
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
 button{
 padding: 10px;
 margin-top: 20px;
 border-radius: 10px;
 background-color: #ac3b3b;
 color: #f0ebeb;
}

.bennar-folwers-title2 img{
    width: 475px;
    margin-left: 70px;

}
.folwers-f{
    width: 1450px;
    height: 200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img{
    width: 1450px;
    height: 600px;
    margin: 0 auto;
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}
.one{
 background-color: #e1ffdd;
 border-radius: 100px 100px 0 0;
 gap: 20px;
}
.two{
    background-color: #e1ffdd;
   
}
.three{
    background-color: #e1ffdd;
    border-radius: 100px 100px 0 0;
}