

.open-sans-normal{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* shere style */
.text-primary{
    color: rgb(253, 110, 10);
}
.dark-2{
    color: rgb(71, 71, 71);
}
.btn-primary{
    background-color: rgb(253, 110, 10);;
}
/* Nav style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul{
    display: flex;
}

nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav li a{
    text-decoration: none;
    font-size: 20px;
}